fastapi
uvicorn
pydantic
python-dotenv

numpy
regex
requests
tqdm

torch
transformers
tokenizers
safetensors
huggingface-hub

langchain-groq
langchain-core
langchain-text-splitters
langgraph
langgraph-sdk
langsmith

groq
orjson
beautifulsoup4
bs4
